In [2]:
# Step 0. Load libraries and custom functions
import duckdb
import pandas as pd

In [3]:
# Step 1. Load the dataset
# 1.1 Read csv from webpage
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

In [4]:
# 1.2 Get the basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330696 entries, 0 to 330695
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    330696 non-null  object
 1   continent                                   315000 non-null  object
 2   location                                    330696 non-null  object
 3   date                                        330696 non-null  object
 4   total_cases                                 293300 non-null  float64
 5   new_cases                                   321633 non-null  float64
 6   new_cases_smoothed                          320374 non-null  float64
 7   total_deaths                                272174 non-null  float64
 8   new_deaths                                  321700 non-null  float64
 9   new_deaths_smoothed                         320470 non-null  float64
 10  total_cases_per_million                     293300 non-null  float64
 11  new_cases_per_million                       321633 non-null  float64
 12  new_cases_smoothed_per_million              320374 non-null  float64
 13  total_deaths_per_million                    272174 non-null  float64
 14  new_deaths_per_million                      321700 non-null  float64
 15  new_deaths_smoothed_per_million             320470 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                36994 non-null   float64
 18  icu_patients_per_million                    36994 non-null   float64
 19  hosp_patients                               37988 non-null   float64
 20  hosp_patients_per_million                   37988 non-null   float64
 21  weekly_icu_admissions                       9867 non-null    float64
 22  weekly_icu_admissions_per_million           9867 non-null    float64
 23  weekly_hosp_admissions                      22630 non-null   float64
 24  weekly_hosp_admissions_per_million          22630 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          77331 non-null   float64
 35  people_vaccinated                           74054 non-null   float64
 36  people_fully_vaccinated                     70604 non-null   float64
 37  total_boosters                              45744 non-null   float64
 38  new_vaccinations                            63660 non-null   float64
 39  new_vaccinations_smoothed                   174837 non-null  float64
 40  total_vaccinations_per_hundred              77331 non-null   float64
 41  people_vaccinated_per_hundred               74054 non-null   float64
 42  people_fully_vaccinated_per_hundred         70604 non-null   float64
 43  total_boosters_per_hundred                  45744 non-null   float64
 44  new_vaccinations_smoothed_per_million       174837 non-null  float64
 45  new_people_vaccinated_smoothed              174857 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  174857 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          280678 non-null  float64
 49  median_age                                  261029 non-null  float64
 50  aged_65_older                               251902 non-null  float64
 51  aged_70_older                               258413 non-null  float64
 52  gdp_per_capita                              255826 non-null  float64
 53  extreme_poverty                             164812 non-null  float64
 54  cardiovasc_death_rate                       256342 non-null  float64
 55  diabetes_prevalence                         269419 non-null  float64
 56  female_smokers                              192280 non-null  float64
 57  male_smokers                                189664 non-null  float64
 58  handwashing_facilities                      125570 non-null  float64
 59  hospital_beds_per_thousand                  226288 non-null  float64
 60  life_expectancy                             304193 non-null  float64
 61  human_development_index                     248491 non-null  float64
 62  population                                  330696 non-null  float64
 63  excess_mortality_cumulative_absolute        11507 non-null   float64
 64  excess_mortality_cumulative                 11507 non-null   float64
 65  excess_mortality                            11507 non-null   float64
 66  excess_mortality_cumulative_per_million     11507 non-null   float64
dtypes: float64(62), object(5)
memory usage: 169.0+ MB

In [5]:
# 1.3 Sample 10 observations
df.sample(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
72879,CZE,Europe,Czechia,2022-07-28,4278006.0,4107.0,3334.571,40541.0,13.0,10.286,...,38.3,NaN,6.63,79.38,0.900,10493990.0,NaN,NaN,NaN,NaN
8000,AGO,Africa,Angola,2020-06-03,86.0,0.0,2.143,4.0,0.0,0.000,...,NaN,26.664,NaN,61.15,0.581,35588996.0,NaN,NaN,NaN,NaN
66507,CIV,Africa,Cote d'Ivoire,2023-01-12,87960.0,0.0,1.571,833.0,0.0,0.143,...,NaN,19.351,NaN,57.78,0.538,28160548.0,NaN,NaN,NaN,NaN
250246,MAF,North America,Saint Martin (French part),2021-03-12,1581.0,0.0,3.857,12.0,0.0,0.000,...,NaN,NaN,NaN,82.08,NaN,31816.0,NaN,NaN,NaN,NaN
3582,ALB,Europe,Albania,2022-08-26,325641.0,606.0,433.714,3577.0,1.0,0.571,...,51.2,NaN,2.89,78.57,0.795,2842318.0,NaN,NaN,NaN,NaN
45886,BDI,Africa,Burundi,2020-04-16,5.0,0.0,0.286,1.0,0.0,0.143,...,NaN,6.144,0.80,61.58,0.433,12889583.0,NaN,NaN,NaN,NaN
62072,COG,Africa,Congo,2021-08-19,13455.0,0.0,14.143,179.0,0.0,0.000,...,52.3,47.964,NaN,64.57,0.574,5970430.0,NaN,NaN,NaN,NaN
309148,ARE,Asia,United Arab Emirates,2021-08-04,685462.0,1548.0,1534.000,1960.0,4.0,4.429,...,37.4,NaN,1.20,77.97,0.890,9441138.0,NaN,NaN,NaN,NaN
76634,DJI,Africa,Djibouti,2022-02-09,15525.0,1.0,7.571,189.0,0.0,0.000,...,24.5,NaN,1.40,67.11,0.524,1120851.0,NaN,NaN,NaN,NaN
131608,ISL,Europe,Iceland,2022-07-19,196402.0,0.0,334.000,117.0,0.0,0.000,...,15.2,NaN,2.91,82.99,0.949,372903.0,NaN,NaN,NaN,NaN

In [7]:
# 1.4 Let's use a SQL query to select the first 10 rows in the table
duckdb.query("SELECT * FROM df LIMIT 10;")

┌──────────┬───────────┬─────────────┬───┬──────────────────────┬──────────────────┬──────────────────────┐
│ iso_code │ continent │  location   │ … │ excess_mortality_c…  │ excess_mortality │ excess_mortality_c…  │
│ varchar  │  varchar  │   varchar   │   │        double        │      double      │        double        │
├──────────┼───────────┼─────────────┼───┼──────────────────────┼──────────────────┼──────────────────────┤
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
├──────────┴───────────┴─────────────┴───┴──────────────────────┴──────────────────┴──────────────────────┤
│ 10 rows                                                                            67 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [8]:
# 1.5 Show the results as a data frame
duckdb.query("SELECT * FROM df LIMIT 10;").to_df()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [18]:
# 1.6 Retrieve the total number of deaths in Peru, until 31-12-2022
duckdb.query("SELECT SUM(new_deaths) AS 'total' FROM df WHERE location IN ('Peru','GUATEMALA') AND date <= '2020-12-31' LIMIT 10;").to_df()

     total
0  93066.0

In [22]:
# 1.7 Retrieve the total number of deaths in North and South America, until 31-12-2022
duckdb.query("SELECT SUM(new_deaths) AS total FROM df WHERE continent IN ('North America', 'South America') AND date <= '2022-12-31';")

┌───────────┐
│   total   │
│  double   │
├───────────┤
│ 2894005.0 │
└───────────┘

In [26]:
# 1.8 Summarise the total number of deaths by continent until 
duckdb.query("SELECT continent, SUM(new_deaths) as total FROM df GROUP BY continent")

┌───────────────┬────────────┐
│   continent   │   total    │
│    varchar    │   double   │
├───────────────┼────────────┤
│ Asia          │  6540734.0 │
│ NULL          │ 36843769.0 │
│ Europe        │  2074440.0 │
│ Africa        │   259012.0 │
│ Oceania       │    29055.0 │
│ North America │  1605615.0 │
│ South America │  1359575.0 │
└───────────────┴────────────┘